{% extends 'base.html' %}
{% block content %}
<h2>Add Product</h2>
<form method="POST" class="form">
    <label>Name</label>
    <input type="text" name="name" required>


    <label>Price</label>
    <input type="number" name="price" required>


    <label>Description</label>
    <textarea name="description" required></textarea>


    <label>Specification</label>
    <textarea name="specification" required></textarea>

    <label>Image URL (local path)</label>
    <input type="text" name="img" placeholder="/static/images/example.png">

    <button type="submit" class="btn">Add</button>
</form>
{% endblock %}