{% extends 'base.html' %}
{% block content %}
<div class="detail-container">
    <img class="big-img" src="{{ url_for('static', filename=product.img.split('static/')[-1]) }}" alt="product image">


    <div class="info">
        <h2>{{ product.name }}</h2>
        <p class="price">${{ product.price }}</p>


        <h3>Description</h3>
        <p>{{ product.description }}</p>


        <h3>Specifications</h3>
        <p>{{ product.specification }}</p>


        <a class="btn delete" href="{{ url_for('delete', product_id=product.id) }}">Delete Product</a>
    </div>
</div>
{% endblock %}